<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
    <div class="container">
        <h1>Choose a Topic for Your Assessment</h1>
        <div class="button-container">
            <a href="/exam/java" class="topic-btn">Java</a>
            <a href="/exam/python" class="topic-btn">Python</a>
            <a href="/exam/SQL" class="topic-btn">MySQL</a>
        </div>
    </div>
</body>
</html>
